* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

html,
body,
.wrap {
    width: 100%;
    height: 100%;
}

.wrap {
    font-size: 0.32rem;
    display: flex;
    flex-direction: column;
}

.header,
footer {
    width: 100%;
    height: 1rem;
    /* background: #000; */
    display: flex;
}

.header {
    justify-content: space-around;
    line-height: 1rem;
    /* border-bottom: 1px solid #ccc; */
}

.header p {
    width: 90%;
    height: 0.6rem;
    line-height: 0.6rem;
    margin-top: 0.2rem;
    border-radius: 0.1rem;
    border: 1px solid #ccc;
    padding: 0 0.1rem;
}

.header p input {
    border: none;
    outline: none;
    height: 80%;
    width: 90%;
}

.section {
    width: 100%;
    flex: 1;
    overflow-y: auto;
}

.section>ul>li {
    display: none;
}

.section>ul>li.bg {
    display: block;
}

.section-top {
    width: 100%;
    height: 1.75rem;
}

.section-top img {
    width: 100%;
    height: 100%;
    display: block;
}

.nav {
    width: 100%;
    height: 1.5rem;
    display: flex;
    border-bottom: 1px solid #ccc;
}

.nav dl {
    width: 25%;
    text-align: center;
    padding: 0.2rem 0;
}

.main>ol {
    display: flex;
    overflow-x: auto;
}

.main>ol>li {
    width: 2.5rem;
    height: 2.7rem;
}

.img {
    width: 100%;
    height: 3rem;
}

.img img {
    width: 100%;
    height: 100%;
    display: block;
}

.main>ol>li img {
    width: 100%;
    height: 100%;
    display: block;
}

.footer {
    border-top: 1px solid #ccc;
    padding: 0.1rem 0;
}

.footer dl {
    width: 20%;
    text-align: center;
}

.footer dl.on {
    color: orange;
}